$background-main: #d2f1e4;
$background-secondary: #537d8d;
$color-main: #48304d;

$color-secondary: white;

$text-area-edit-bg: rgba(0, 255, 0, 0.1);

$btn-enabled: rgba(0, 255, 0, 0.3);
$btn-hover: rgba(0, 255, 0, 0.5);
$btn-disabled: rgba(red, 0.5);

$error: rgba(red, 0.5);
